<!doctype html>
<html lang="en">
  <head><%- include("../partials/head") %></head>
  <body>
    <div class="frame">
      <%- include("../partials/header") %>
      <%- include("../partials/nav") %>

      <main id="main" class="container"><%- body %></main>

      <%- include("../partials/footer") %>
    </div>
  </body>
</html>
