<!doctype html>
<html lang="en">
  <head><%- include("../partials/head") %></head>
  <link rel="stylesheet" href="/css/forms.css">
  <body>
    <div class="frame">
      <%- include("../partials/header") %>
      <%- nav %>

      <main id="main" class="container"><%- body %></main>

      <%- include("../partials/footer") %>
    </div>
    <script defer src="/js/field-touched.js"></script>
  </body>
</html>
